# Models and data
*.pt
*.pth
*.onnx
*.zip
*.npy

# Datasets
datasets/
runs/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv*/
uv.lock

# IDE
.vscode/
.idea/

# Keep empty directories
!.gitkeep